BEGIN;
SET session_replication_role = 'replica';  -- skip FK checks during load

-- django_content_type (38 rows)
INSERT INTO "django_content_type" ("id", "app_label", "model") VALUES (1, 'admin', 'logentry');
INSERT INTO "django_content_type" ("id", "app_label", "model") VALUES (2, 'auth', 'group');
INSERT INTO "django_content_type" ("id", "app_label", "model") VALUES (3, 'auth', 'permission');

-- auth_permission (152 rows)
INSERT INTO "auth_permission" ("id", "content_type_id", "codename", "name") VALUES (1, 1, 'add_logentry', 'Can add log entry');
INSERT INTO "auth_permission" ("id", "content_type_id", "codename", "name") VALUES (2, 1, 'change_logentry', 'Can change log entry');
INSERT INTO "auth_permission" ("id", "content_type_id", "codename", "name") VALUES (3, 1, 'delete_logentry', 'Can delete log entry');

-- users (1 rows)
INSERT INTO "users" ("password", "last_login", "is_superuser", "username", "first_name", "last_name", "is_staff", "is_active", "date_joined", "id", "email", "is_verified", "email_verified_at", "two_factor_enabled", "last_active") VALUES ('pbkdf2_sha256$1200000$Ye2O5JpT0I8ZWYQa9Y9aXv$ZSJL6DOu2qM4CLNH050GmowusOxK5uWFp6pqbfn6osg=', NULL, TRUE, 'admin', '', '', TRUE, TRUE, '2026-06-20 10:01:45.359608', '9d7cbe81a41b41c2b535d6faeae638ec', 'admin@example.com', 1, NULL, 0, NULL);

-- django_migrations (40 rows)
INSERT INTO "django_migrations" ("id", "app", "name", "applied") VALUES (1, 'contenttypes', '0001_initial', '2026-06-20 10:01:35.698852');
INSERT INTO "django_migrations" ("id", "app", "name", "applied") VALUES (2, 'contenttypes', '0002_remove_content_type_name', '2026-06-20 10:01:35.717748');
INSERT INTO "django_migrations" ("id", "app", "name", "applied") VALUES (3, 'auth', '0001_initial', '2026-06-20 10:01:35.741020');

SET session_replication_role = 'origin';

SELECT setval(pg_get_serial_sequence('"django_content_type"', 'id'), COALESCE((SELECT MAX(id) FROM "django_content_type"), 1)) WHERE EXISTS (SELECT 1 FROM "django_content_type");
SELECT setval(pg_get_serial_sequence('"auth_group"', 'id'), COALESCE((SELECT MAX(id) FROM "auth_group"), 1)) WHERE EXISTS (SELECT 1 FROM "auth_group");
SELECT setval(pg_get_serial_sequence('"auth_permission"', 'id'), COALESCE((SELECT MAX(id) FROM "auth_permission"), 1)) WHERE EXISTS (SELECT 1 FROM "auth_permission");
SELECT setval(pg_get_serial_sequence('"auth_group_permissions"', 'id'), COALESCE((SELECT MAX(id) FROM "auth_group_permissions"), 1)) WHERE EXISTS (SELECT 1 FROM "auth_group_permissions");
SELECT setval(pg_get_serial_sequence('"users"', 'id'), COALESCE((SELECT MAX(id) FROM "users"), 1)) WHERE EXISTS (SELECT 1 FROM "users");
SELECT setval(pg_get_serial_sequence('"users_groups"', 'id'), COALESCE((SELECT MAX(id) FROM "users_groups"), 1)) WHERE EXISTS (SELECT 1 FROM "users_groups");
SELECT setval(pg_get_serial_sequence('"users_user_permissions"', 'id'), COALESCE((SELECT MAX(id) FROM "users_user_permissions"), 1)) WHERE EXISTS (SELECT 1 FROM "users_user_permissions");
SELECT setval(pg_get_serial_sequence('"django_admin_log"', 'id'), COALESCE((SELECT MAX(id) FROM "django_admin_log"), 1)) WHERE EXISTS (SELECT 1 FROM "django_admin_log");
SELECT setval(pg_get_serial_sequence('"django_migrations"', 'id'), COALESCE((SELECT MAX(id) FROM "django_migrations"), 1)) WHERE EXISTS (SELECT 1 FROM "django_migrations");
SELECT setval(pg_get_serial_sequence('"django_session"', 'id'), COALESCE((SELECT MAX(id) FROM "django_session"), 1)) WHERE EXISTS (SELECT 1 FROM "django_session");
SELECT setval(pg_get_serial_sequence('"classes"', 'id'), COALESCE((SELECT MAX(id) FROM "classes"), 1)) WHERE EXISTS (SELECT 1 FROM "classes");
SELECT setval(pg_get_serial_sequence('"students"', 'id'), COALESCE((SELECT MAX(id) FROM "students"), 1)) WHERE EXISTS (SELECT 1 FROM "students");
SELECT setval(pg_get_serial_sequence('"attendance"', 'id'), COALESCE((SELECT MAX(id) FROM "attendance"), 1)) WHERE EXISTS (SELECT 1 FROM "attendance");
SELECT setval(pg_get_serial_sequence('"exams"', 'id'), COALESCE((SELECT MAX(id) FROM "exams"), 1)) WHERE EXISTS (SELECT 1 FROM "exams");
SELECT setval(pg_get_serial_sequence('"subjects"', 'id'), COALESCE((SELECT MAX(id) FROM "subjects"), 1)) WHERE EXISTS (SELECT 1 FROM "subjects");
SELECT setval(pg_get_serial_sequence('"results"', 'id'), COALESCE((SELECT MAX(id) FROM "results"), 1)) WHERE EXISTS (SELECT 1 FROM "results");
COMMIT;
